<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_options_and_settings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas options and settings
- change number of columns and rows displayed in a DataFrame
- change number of digits after decimal point in a float that are displayed
  - but complexity is preserved

In [1]:
# libraries needed
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
# 1000 rows x 50 column filled with integers between 0 (inclusive) and 100 (exclusive)
random_data = np.random.randint(
    low = 0, 
    high = 100, 
    size = [1000, 50]
  )

random_data

array([[13, 47, 19, ..., 62, 65, 10],
       [45, 87,  7, ..., 54, 18, 51],
       [ 0,  1, 77, ..., 99, 24,  4],
       ...,
       [54,  2, 13, ..., 55, 41, 15],
       [53, 24, 71, ..., 15,  4,  5],
       [31,  9, 27, ..., 82, 70, 89]])

In [6]:
# convert random_data to a DataFrame
df = pd.DataFrame(random_data)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,13,47,19,6,71,15,8,56,6,99,...,81,25,23,66,83,28,22,62,65,10
1,45,87,7,52,47,1,45,24,56,84,...,55,11,31,51,23,87,40,54,18,51
2,0,1,77,98,47,45,17,57,39,86,...,47,30,40,78,67,77,19,99,24,4
3,72,7,29,2,62,37,73,41,54,16,...,38,42,52,23,59,38,78,5,5,46
4,32,1,68,66,10,99,35,69,94,23,...,62,46,84,15,62,85,12,98,48,2

## change number of rows and columns displayed in a DataFrame

In [21]:
# number of rows displayed is 60 by default; but doesn't play nice with google colab
pd.options.display.max_rows

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,13,47,19,6,71,15,8,56,6,99,74,63,2,79,21,32,51,45,56,99,4,64,29,4,61,46,63,11,43,59,45,46,37,52,2,21,43,54,92,86,81,25,23,66,83,28,22,62,65,10
1,45,87,7,52,47,1,45,24,56,84,32,63,73,82,78,93,25,3,70,5,60,20,70,65,2,2,52,42,52,72,40,91,94,75,14,39,88,4,59,2,55,11,31,51,23,87,40,54,18,51
2,0,1,77,98,47,45,17,57,39,86,98,46,95,2,30,9,33,79,63,5,84,62,22,84,49,58,52,56,72,64,19,91,40,35,55,62,61,1,46,94,47,30,40,78,67,77,19,99,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,54,2,13,67,24,82,70,95,29,14,40,6,75,74,31,6,71,75,3,33,57,67,8,4,71,0,79,41,50,19,10,96,98,58,11,20,12,16,21,54,66,47,34,37,93,13,49,55,41,15
998,53,24,71,94,86,16,45,76,72,60,36,3,60,77,99,13,46,28,67,34,59,22,38,46,5,97,27,98,78,1,20,50,98,89,85,72,14,94,18,22,6,75,36,43,98,93,18,15,4,5
999,31,9,27,49,73,47,56,25,64,10,80,88,75,81,46,25,38,94,46,77,0,77,30,33,14,54,54,70,40,37,88,36,71,86,47,83,1,99,44,58,45,10,48,9,44,74,72,82,70,89

In [22]:
# change default
pd.options.display.max_rows = 6

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,13,47,19,6,71,15,8,56,6,99,74,63,2,79,21,32,51,45,56,99,4,64,29,4,61,46,63,11,43,59,45,46,37,52,2,21,43,54,92,86,81,25,23,66,83,28,22,62,65,10
1,45,87,7,52,47,1,45,24,56,84,32,63,73,82,78,93,25,3,70,5,60,20,70,65,2,2,52,42,52,72,40,91,94,75,14,39,88,4,59,2,55,11,31,51,23,87,40,54,18,51
2,0,1,77,98,47,45,17,57,39,86,98,46,95,2,30,9,33,79,63,5,84,62,22,84,49,58,52,56,72,64,19,91,40,35,55,62,61,1,46,94,47,30,40,78,67,77,19,99,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,54,2,13,67,24,82,70,95,29,14,40,6,75,74,31,6,71,75,3,33,57,67,8,4,71,0,79,41,50,19,10,96,98,58,11,20,12,16,21,54,66,47,34,37,93,13,49,55,41,15
998,53,24,71,94,86,16,45,76,72,60,36,3,60,77,99,13,46,28,67,34,59,22,38,46,5,97,27,98,78,1,20,50,98,89,85,72,14,94,18,22,6,75,36,43,98,93,18,15,4,5
999,31,9,27,49,73,47,56,25,64,10,80,88,75,81,46,25,38,94,46,77,0,77,30,33,14,54,54,70,40,37,88,36,71,86,47,83,1,99,44,58,45,10,48,9,44,74,72,82,70,89

In [23]:
# same thing with columns
pd.options.display.max_columns

50

In [24]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,13,47,19,6,71,15,8,56,6,99,74,63,2,79,21,32,51,45,56,99,4,64,29,4,61,46,63,11,43,59,45,46,37,52,2,21,43,54,92,86,81,25,23,66,83,28,22,62,65,10
1,45,87,7,52,47,1,45,24,56,84,32,63,73,82,78,93,25,3,70,5,60,20,70,65,2,2,52,42,52,72,40,91,94,75,14,39,88,4,59,2,55,11,31,51,23,87,40,54,18,51
2,0,1,77,98,47,45,17,57,39,86,98,46,95,2,30,9,33,79,63,5,84,62,22,84,49,58,52,56,72,64,19,91,40,35,55,62,61,1,46,94,47,30,40,78,67,77,19,99,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,54,2,13,67,24,82,70,95,29,14,40,6,75,74,31,6,71,75,3,33,57,67,8,4,71,0,79,41,50,19,10,96,98,58,11,20,12,16,21,54,66,47,34,37,93,13,49,55,41,15
998,53,24,71,94,86,16,45,76,72,60,36,3,60,77,99,13,46,28,67,34,59,22,38,46,5,97,27,98,78,1,20,50,98,89,85,72,14,94,18,22,6,75,36,43,98,93,18,15,4,5
999,31,9,27,49,73,47,56,25,64,10,80,88,75,81,46,25,38,94,46,77,0,77,30,33,14,54,54,70,40,37,88,36,71,86,47,83,1,99,44,58,45,10,48,9,44,74,72,82,70,89

In [25]:
# see all columns
pd.options.display.max_columns = 50
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,13,47,19,6,71,15,8,56,6,99,74,63,2,79,21,32,51,45,56,99,4,64,29,4,61,46,63,11,43,59,45,46,37,52,2,21,43,54,92,86,81,25,23,66,83,28,22,62,65,10
1,45,87,7,52,47,1,45,24,56,84,32,63,73,82,78,93,25,3,70,5,60,20,70,65,2,2,52,42,52,72,40,91,94,75,14,39,88,4,59,2,55,11,31,51,23,87,40,54,18,51
2,0,1,77,98,47,45,17,57,39,86,98,46,95,2,30,9,33,79,63,5,84,62,22,84,49,58,52,56,72,64,19,91,40,35,55,62,61,1,46,94,47,30,40,78,67,77,19,99,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,54,2,13,67,24,82,70,95,29,14,40,6,75,74,31,6,71,75,3,33,57,67,8,4,71,0,79,41,50,19,10,96,98,58,11,20,12,16,21,54,66,47,34,37,93,13,49,55,41,15
998,53,24,71,94,86,16,45,76,72,60,36,3,60,77,99,13,46,28,67,34,59,22,38,46,5,97,27,98,78,1,20,50,98,89,85,72,14,94,18,22,6,75,36,43,98,93,18,15,4,5
999,31,9,27,49,73,47,56,25,64,10,80,88,75,81,46,25,38,94,46,77,0,77,30,33,14,54,54,70,40,37,88,36,71,86,47,83,1,99,44,58,45,10,48,9,44,74,72,82,70,89

## change number of rows or columns displayed in a DataFrame, using methods, functionally same as above
- pd.get_option( ) to see current setting
  - parameter is 'max_columns' or 'max_rows'
- pd.set_option( ) to change setting
  - parameter is 'max_columns' or 'max_rows' then a number
- pd.reset_option( ) to restore defaults
  - parameter is 'max_columns' or 'max_rows'
- pd.describe_option( ) to get some documentation
  - parameter is 'max_columns' or 'max_rows'

In [26]:
# maximum number of rows displayed
pd.get_option('max_rows')

6

In [27]:
# maximum number of columns displayed
pd.get_option('max_columns')

50

In [28]:
# change number of rows
pd.set_option('max_rows', 10)

# now we see that many rows displayed
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,13,47,19,6,71,15,8,56,6,99,74,63,2,79,21,32,51,45,56,99,4,64,29,4,61,46,63,11,43,59,45,46,37,52,2,21,43,54,92,86,81,25,23,66,83,28,22,62,65,10
1,45,87,7,52,47,1,45,24,56,84,32,63,73,82,78,93,25,3,70,5,60,20,70,65,2,2,52,42,52,72,40,91,94,75,14,39,88,4,59,2,55,11,31,51,23,87,40,54,18,51
2,0,1,77,98,47,45,17,57,39,86,98,46,95,2,30,9,33,79,63,5,84,62,22,84,49,58,52,56,72,64,19,91,40,35,55,62,61,1,46,94,47,30,40,78,67,77,19,99,24,4
3,72,7,29,2,62,37,73,41,54,16,21,42,91,29,39,0,21,22,54,94,99,54,71,86,71,82,35,60,50,95,80,71,94,91,36,22,52,95,8,40,38,42,52,23,59,38,78,5,5,46
4,32,1,68,66,10,99,35,69,94,23,71,76,57,67,30,80,68,13,76,12,14,89,70,77,89,45,6,14,64,86,28,94,32,91,96,28,75,28,12,59,62,46,84,15,62,85,12,98,48,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,74,10,51,53,81,54,77,48,12,16,33,90,11,83,40,85,88,83,69,93,85,80,7,66,39,19,89,96,75,81,18,56,86,3,64,38,36,43,39,31,0,23,27,36,46,64,27,80,63,12
996,5,73,84,55,67,56,1,17,44,89,4,38,63,38,2,94,52,83,74,39,10,25,47,4,49,80,37,89,48,55,82,50,32,66,79,26,38,44,89,50,51,78,13,2,92,65,48,77,74,67
997,54,2,13,67,24,82,70,95,29,14,40,6,75,74,31,6,71,75,3,33,57,67,8,4,71,0,79,41,50,19,10,96,98,58,11,20,12,16,21,54,66,47,34,37,93,13,49,55,41,15
998,53,24,71,94,86,16,45,76,72,60,36,3,60,77,99,13,46,28,67,34,59,22,38,46,5,97,27,98,78,1,20,50,98,89,85,72,14,94,18,22,6,75,36,43,98,93,18,15,4,5
999,31,9,27,49,73,47,56,25,64,10,80,88,75,81,46,25,38,94,46,77,0,77,30,33,14,54,54,70,40,37,88,36,71,86,47,83,1,99,44,58,45,10,48,9,44,74,72,82,70,89

In [30]:
# change number of columns
pd.set_option('max_columns', 12)

# now we see that many columns
df

     0   1   2   3   4   5   ...  44  45  46  47  48  49
0    13  47  19   6  71  15  ...  83  28  22  62  65  10
1    45  87   7  52  47   1  ...  23  87  40  54  18  51
2     0   1  77  98  47  45  ...  67  77  19  99  24   4
3    72   7  29   2  62  37  ...  59  38  78   5   5  46
4    32   1  68  66  10  99  ...  62  85  12  98  48   2
..   ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
995  74  10  51  53  81  54  ...  46  64  27  80  63  12
996   5  73  84  55  67  56  ...  92  65  48  77  74  67
997  54   2  13  67  24  82  ...  93  13  49  55  41  15
998  53  24  71  94  86  16  ...  98  93  18  15   4   5
999  31   9  27  49  73  47  ...  44  74  72  82  70  89

[1000 rows x 50 columns]

In [31]:
# reset defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [32]:
# view defaults
print(pd.get_option('max_rows'))
print(pd.get_option('max_columns'))

60
20

In [33]:
pd.describe_option('max_rows')

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [34]:
pd.describe_option('max_columns')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## precision
- changes number of digits shown for floats
- doesn't modify, just appearance

In [37]:
# fake data
fake_data = pd.DataFrame(
    data = np.random.randn(5, 5)         # 5 x 5 array; randomly drawn from normal distribution of mean 0 and variance of 1
)

fake_data

          0         1         2         3         4
0 -0.674649  0.280484  1.407085 -1.118430 -1.951682
1 -0.527093 -1.098509 -0.667088  0.203869  0.193259
2 -1.811030 -1.074523  0.502541 -1.900561  1.996063
3 -1.240643 -0.899701  0.870766  0.048488  0.429275
4  1.030316  0.405888 -0.109622 -0.551932  1.137974

In [38]:
pd.get_option('precision')   # 6 numbers after the decimal

6

In [42]:
# view fake_data, but change precisoin to just 2 digits, i.e., everything is rounded
pd.set_option('precision', 2)

fake_data

      0     1     2     3     4
0 -0.67  0.28  1.41 -1.12 -1.95
1 -0.53 -1.10 -0.67  0.20  0.19
2 -1.81 -1.07  0.50 -1.90  2.00
3 -1.24 -0.90  0.87  0.05  0.43
4  1.03  0.41 -0.11 -0.55  1.14

In [43]:
fake_data.iloc[0, 0]

# complexity is preserved

-0.6746494786239512

In [41]:
# restore default
pd.reset_option('precision')

fake_data

          0         1         2         3         4
0 -0.674649  0.280484  1.407085 -1.118430 -1.951682
1 -0.527093 -1.098509 -0.667088  0.203869  0.193259
2 -1.811030 -1.074523  0.502541 -1.900561  1.996063
3 -1.240643 -0.899701  0.870766  0.048488  0.429275
4  1.030316  0.405888 -0.109622 -0.551932  1.137974

In [44]:
# end of section