<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_multiindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas MultiIndex
- multiple layers/tiers of indices, i.e., a hierarchy
- usually just 1 layer index and 1 layer of columns
- melting is opposite of pivoting

In [1]:
# libraries needed
import numpy as np
import pandas as pd

In [10]:
# dataset we'll work with
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv'
)

# convert 'Date' column/Series to datetime
bigmac['Date'] = pd.to_datetime(bigmac['Date'])

# column names to lowercase and replace spaces with underscores
bigmac.columns = (
    bigmac.columns
      .str.lower()
      .str.replace(' ', '_')
)

# examine
bigmac.head()

        date    country  price_in_us_dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [14]:
# sort by date and country, ascending
(
    bigmac
      .sort_values(['date', 'country'], ascending = True)
)

          date        country  price_in_us_dollars
609 2010-01-01      Argentina                 1.84
610 2010-01-01      Australia                 3.98
611 2010-01-01         Brazil                 4.76
612 2010-01-01        Britain                 3.67
613 2010-01-01         Canada                 3.97
..         ...            ...                  ...
39  2016-01-01        Ukraine                 1.54
40  2016-01-01  United States                 4.93
41  2016-01-01        Uruguay                 3.74
42  2016-01-01      Venezuela                 0.66
43  2016-01-01        Vietnam                 2.67

[652 rows x 3 columns]

## create multi-index with .set_index() method

In [15]:
# dataset we'll work with
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv'
)

# convert 'Date' column/Series to datetime
bigmac['Date'] = pd.to_datetime(bigmac['Date'])

# column names to lowercase and replace spaces with underscores
bigmac.columns = (
    bigmac.columns
      .str.lower()
      .str.replace(' ', '_')
)

# examine
bigmac.head()

        date    country  price_in_us_dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14