<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_multiindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas MultiIndex
- multiple layers/tiers of indices, i.e., a hierarchy
- usually just 1 layer index and 1 layer of columns
- melting is opposite of pivoting
- stack vs. unstack

In [2]:
# libraries needed
import numpy as np
import pandas as pd

In [3]:
# dataset we'll work with
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv'
)

# convert 'Date' column/Series to datetime
bigmac['Date'] = pd.to_datetime(bigmac['Date'])

# column names to lowercase and replace spaces with underscores
bigmac.columns = (
    bigmac.columns
      .str.lower()
      .str.replace(' ', '_')
)

# examine
bigmac.head()

        date    country  price_in_us_dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [4]:
# sort by date and country, ascending
(
    bigmac
      .sort_values(['date', 'country'], ascending = True)
)

          date        country  price_in_us_dollars
609 2010-01-01      Argentina                 1.84
610 2010-01-01      Australia                 3.98
611 2010-01-01         Brazil                 4.76
612 2010-01-01        Britain                 3.67
613 2010-01-01         Canada                 3.97
..         ...            ...                  ...
39  2016-01-01        Ukraine                 1.54
40  2016-01-01  United States                 4.93
41  2016-01-01        Uruguay                 3.74
42  2016-01-01      Venezuela                 0.66
43  2016-01-01        Vietnam                 2.67

[652 rows x 3 columns]

## create multi-index with .set_index() method
- best practice is for outer layer/index to have fewer unique values than inner layer/index

In [5]:
# dataset we'll work with
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv'
)

# convert 'Date' column/Series to datetime
bigmac['Date'] = pd.to_datetime(bigmac['Date'])

# column names to lowercase and replace spaces with underscores
bigmac.columns = (
    bigmac.columns
      .str.lower()
      .str.replace(' ', '_')
)

# examine
bigmac.head()

        date    country  price_in_us_dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [6]:
# set date and country as indices
(
    bigmac
      .set_index(['date', 'country'])
)

                          price_in_us_dollars
date       country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [7]:
# order matters
(
    bigmac
      .set_index(['country', 'date'])
)

                          price_in_us_dollars
country       date
Argentina     2016-01-01                 2.39
Australia     2016-01-01                 3.74
Brazil        2016-01-01                 3.35
Britain       2016-01-01                 4.22
Canada        2016-01-01                 4.14
...                                       ...
Turkey        2010-01-01                 3.83
UAE           2010-01-01                 2.99
Ukraine       2010-01-01                 1.83
United States 2010-01-01                 3.58
Uruguay       2010-01-01                 3.32

[652 rows x 1 columns]

In [8]:
# but best practice is for outer layer to have fewer unique values than inner layer

# number of unique values per column/Series
bigmac.nunique()

# 12 unique dates --> outer
# 58 unique countries --> inner

date                    12
country                 58
price_in_us_dollars    330
dtype: int64

In [9]:
# new bigmac dataframe with multiindex
bigmac_multiindex = (
    bigmac
      .set_index(['date', 'country'])
)

bigmac_multiindex

                          price_in_us_dollars
date       country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [10]:
# sort indices; first outer layer is sorted, then inner within each outer chunk
bigmac_multiindex = (
    bigmac_multiindex
      .sort_index()
)

bigmac_multiindex

                          price_in_us_dollars
date       country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [11]:
# view indices
bigmac_multiindex.index
  # note the tuples

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['date', 'country'], length=652)

In [12]:
# to access a particular value
bigmac_multiindex.loc[('2010-01-01', 'Argentina')]

price_in_us_dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [13]:
bigmac_multiindex.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

## .get_level_values() method
- used to get index names in a multiindex; equivalent to df.index in a single-index dataframe
- i.e., extract level values of 1 index in a multiindex
- parameter/argument input is name of index, e.g., 'Date' or integer for position; actual string name is more readable IMO

In [14]:
# import data
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv',
    parse_dates = ['Date'],
    index_col = ['Date', 'Country']
)

# sort index
bigmac = bigmac.sort_index()

In [15]:
# bigmac dataframe has two indices; outer is 'Date' and inner is 'Country'
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [16]:
# extract outer index, 'Date'
bigmac.index.get_level_values('Date')

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [17]:
# above is equivalent to:
bigmac.index.get_level_values(0)   # position 0 since it's the outermost/leftmost

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [18]:
# extract country index
bigmac.index.get_level_values('Country')

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [19]:
# above is equilvaent to:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

## .set_names() method

- to change names of a multi-index, akin to column names, except it's the index

```
.set_names()
```

In [20]:
# load data
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv',
    parse_dates = ['Date'],            # must be a list
    index_col = ['Date', 'Country']
).sort_index()

bigmac

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [21]:
# current index names
bigmac.index.names

FrozenList(['Date', 'Country'])

In [22]:
# change to 'date' and 'country'
bigmac.index.set_names(['date', 'country'], inplace = True)

In [23]:
# check to make sure names have changed
bigmac.index.names

FrozenList(['date', 'country'])

In [24]:
# change 'date' back to 'Date'
bigmac.index.set_names('Date', level = 'date', inplace = True)

In [25]:
# check to make sure change occurred
bigmac.index.names

FrozenList(['Date', 'country'])

In [26]:
# change 'country' back to 'Country'
bigmac.index.set_names('Country', level = 'country', inplace = True)
bigmac.index.names

FrozenList(['Date', 'Country'])

## .sort_index() method
- ascending parameter, just like .sort_values() method
- level parameter
  - argument is name of index or 0, 1, etc.
  - 0 for outermost layer
  - 1 for one layer in, etc.

In [27]:
# load data
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv',
    parse_dates = ['Date'],            # must be a list
    index_col = ['Date', 'Country']
).sort_index()

bigmac

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [28]:
# sort by descending
bigmac.sort_index(ascending = False)

                          Price in US Dollars
Date       Country
2016-01-01 Vietnam                       2.67
           Venezuela                     0.66
           Uruguay                       3.74
           United States                 4.93
           Ukraine                       1.54
...                                       ...
2010-01-01 Canada                        3.97
           Britain                       3.67
           Brazil                        4.76
           Australia                     3.98
           Argentina                     1.84

[652 rows x 1 columns]

In [29]:
# date ASC but country DESC
bigmac.sort_index(ascending = [True, False])   # True refers to Date index; False refers to Country Index

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83
...                                       ...
2016-01-01 Brazil                        3.35
           Belgium                       4.25
           Austria                       3.76
           Australia                     3.74
           Argentina                     2.39

[652 rows x 1 columns]

In [30]:
# just sort the date
bigmac.sort_index(level = 'Date')

# code below does the same thing
bigmac.sort_index(level = 0)

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [31]:
# just sort the country
bigmac.sort_index(level = 'Country')

# equivalent to
bigmac.sort_index(level = 1)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
2010-07-01 Argentina                 3.56
2011-07-01 Argentina                 4.84
2012-01-01 Argentina                 4.64
2012-07-01 Argentina                 4.16
...                                   ...
2014-01-01 Vietnam                   2.84
2014-07-01 Vietnam                   2.83
2015-01-01 Vietnam                   2.81
2015-07-01 Vietnam                   2.75
2016-01-01 Vietnam                   2.67

[652 rows x 1 columns]

## Extract rows from multiindex dataframe
- key takeaway is for .loc[ ] accessor, first argument is rows and second argument is columns
- .iloc[ ] accessor isn't affected by multiindex since each row is given an index position in line

In [32]:
# load data
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv',
    parse_dates = ['Date'],            # must be a list
    index_col = ['Date', 'Country']
).sort_index()

bigmac

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [34]:
# let's say we want to extract bigmac price on 2010-01-01 in Argentina

# here's a bad way to do it. it works, but it's not desirable.
bigmac.loc['2010-01-01', 'Argentina']

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [36]:
# here's why this is a bad: it's ambiguous.
# above, second argument, 'Argentina' refers to the inner index.
# but second argument could also refer to a column.
# below also works.
bigmac.loc['2010-01-01', 'Price in US Dollars']    # all prices on 2010-01-01, i.e., for all countries

Date        Country
2010-01-01  Argentina         1.84
            Australia         3.98
            Brazil            4.76
            Britain           3.67
            Canada            3.97
            Chile             3.18
            China             1.83
            Colombia          3.91
            Costa Rica        3.52
            Czech Republic    3.71
            Denmark           5.99
            Egypt             2.38
            Euro area         4.84
            Hong Kong         1.91
            Hungary           3.86
            Indonesia         2.24
            Israel            3.99
            Japan             3.50
            Latvia            3.09
            Lithuania         2.87
            Malaysia          2.08
            Mexico            2.50
            New Zealand       3.61
            Norway            7.02
            Pakistan          2.42
            Peru              2.81
            Philippines       2.21
            Poland            2.86
            Russia            2.34
            Saudi Arabia      2.67
            Singapore         3.19
            South Africa      2.46
            South Korea       2.98
            Sri Lanka         1.83
            Sweden            5.51
            Switzerland       6.30
            Taiwan            2.36
            Thailand          2.11
            Turkey            3.83
            UAE               2.99
            Ukraine           1.83
            United States     3.58
            Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [41]:
# better way to do it; have first argument refer to row/index and second argument refer to columns
# parantheses makes clear that it's the first argument, in this case, a tuple
bigmac.loc[('2010-01-01', 'Argentina'), :]    # this is a DataFrame

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84

In [43]:
# or just:
bigmac.loc[('2010-01-01', 'Argentina')]        # this is a Series

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [44]:
# can repeat column names
bigmac.loc[('2010-01-01', 'Argentina'), ['Price in US Dollars', 'Price in US Dollars']]

                      Price in US Dollars  Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84                 1.84

In [45]:
# need comma for Python to recognize something as a tuple
bigmac.loc[('2010-01-01')]   # not a tuple

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

In [46]:
# this is a tuple; it has a comma
bigmac.loc[('2010-01-01',)]

                Price in US Dollars
Country
Argentina                      1.84
Australia                      3.98
Brazil                         4.76
Britain                        3.67
Canada                         3.97
Chile                          3.18
China                          1.83
Colombia                       3.91
Costa Rica                     3.52
Czech Republic                 3.71
Denmark                        5.99
Egypt                          2.38
Euro area                      4.84
Hong Kong                      1.91
Hungary                        3.86
Indonesia                      2.24
Israel                         3.99
Japan                          3.50
Latvia                         3.09
Lithuania                      2.87
Malaysia                       2.08
Mexico                         2.50
New Zealand                    3.61
Norway                         7.02
Pakistan                       2.42
Peru                           2.81
Philippines                    2.21
Poland                         2.86
Russia                         2.34
Saudi Arabia                   2.67
Singapore                      3.19
South Africa                   2.46
South Korea                    2.98
Sri Lanka                      1.83
Sweden                         5.51
Switzerland                    6.30
Taiwan                         2.36
Thailand                       2.11
Turkey                         3.83
UAE                            2.99
Ukraine                        1.83
United States                  3.58
Uruguay                        3.32

In [47]:
# for iloc[], nothing has changed
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [48]:
bigmac.iloc[0]

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [51]:
bigmac.iloc[[1, 3, 4]]

                      Price in US Dollars
Date       Country
2010-01-01 Australia                 3.98
           Britain                   3.67
           Canada                    3.97

## .transpose() method on a multiindex dataframe
- rotate 90 degrees so rows become columns and vice versa

In [53]:
# load data
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv',
    parse_dates = ['Date'],            # must be a list
    index_col = ['Date', 'Country']
).sort_index()

bigmac

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [57]:
# above, multi-index rows, single index column
# transpose this: rows become columns and columns become rows
# so multi-index columns, and a single row
bigmac.transpose()

# 1 row, 652 columns

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [58]:
# above, columns are multi-index: outer layer (0) is Date and inner layer (1) is Country

In [61]:
# extract big mac price in Argentina on Jan 1, 2010
(
    bigmac
      .transpose()
      .loc[('Price in US Dollars',), ('2010-01-01', 'Argentina')]  # first argument is ('Price in US Dollars',) which is a tuple
)

Date                2010-01-01
Country              Argentina
Price in US Dollars       1.84

In [65]:
# all prices on Jan 1, 2010
(
    bigmac
      .transpose()
      .loc[('Price in US Dollars',), ('2010-01-01',)]   # two arguments, each one is a tuple
)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...                   \
Country             Colombia Costa Rica Czech Republic  ... Sri Lanka Sweden
Price in US Dollars     3.91       3.52           3.71  ...      1.83   5.51

Date                                                                  \
Country             Switzerland Taiwan Thailand Turkey   UAE Ukraine
Price in US Dollars         6.3   2.36     2.11   3.83  2.99    1.83

Date
Country             United States Uruguay
Price in US Dollars          3.58    3.32

[1 rows x 43 columns]

In [75]:
# Sri Lanka thru Ukraine for Jan 1, 2010
(
    bigmac
      .transpose()
      .loc[('Price in US Dollars',), ('2010-01-01', 'Sri Lanka'):('2010-01-01', 'Ukraine')]
)

# ('Price in US Dollars',) --> first argument, indicates row
# ('2010-01-01', 'Sri Lanka') --> part of second argument, indicates starting column
# ('2010-01-01', 'Ukraine') --> part of second argument, go through this column

Date                2010-01-01                                            \
Country              Sri Lanka Sweden Switzerland Taiwan Thailand Turkey
Price in US Dollars       1.83   5.51         6.3   2.36     2.11   3.83

Date
Country               UAE Ukraine
Price in US Dollars  2.99    1.83

In [93]:
# Switzerland for each time point
(
    bigmac
      .transpose()
      .loc[('Price in US Dollars',), bigmac.transpose().columns.get_level_values(1) == 'Switzerland']
)

# had to google the above: https://stackoverflow.com/questions/25189575/pandas-dataframe-select-columns-in-multiindex

Date,2010-01-01,2010-07-01,2011-07-01,2012-01-01,2012-07-01,2013-01-01,2013-07-01,2014-01-01,2014-07-01,2015-01-01,2015-07-01,2016-01-01
Country,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland,Switzerland
Price in US Dollars,6.3,6.19,8.06,6.81,6.56,7.12,6.72,7.14,6.83,7.54,6.82,6.44

In [97]:
# prices for Vietnam
(
    bigmac
      .loc[
          bigmac.index.get_level_values('Country') == 'Vietnam', # rows where value in index position 1 ('Country') is Vietnam
           ('Price in US Dollars',)                              # this column
          ]
)

                    Price in US Dollars
Date       Country
2014-01-01 Vietnam                 2.84
2014-07-01 Vietnam                 2.83
2015-01-01 Vietnam                 2.81
2015-07-01 Vietnam                 2.75
2016-01-01 Vietnam                 2.67

## .swaplevel() method

In [96]:
# load data
bigmac = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/bigmac.csv',
    parse_dates = ['Date'],            # must be a list
    index_col = ['Date', 'Country']
).sort_index()

bigmac

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [101]:
# outer index is 'Date' and inner is 'Country'; reverse these
bigmac.swaplevel()

# assign back to bigmac to override bigmac; no inplace = True argument

                          Price in US Dollars
Country       Date
Argentina     2010-01-01                 1.84
Australia     2010-01-01                 3.98
Brazil        2010-01-01                 4.76
Britain       2010-01-01                 3.67
Canada        2010-01-01                 3.97
...                                       ...
Ukraine       2016-01-01                 1.54
United States 2016-01-01                 4.93
Uruguay       2016-01-01                 3.74
Venezuela     2016-01-01                 0.66
Vietnam       2016-01-01                 2.67

[652 rows x 1 columns]

## .stack() method