<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas groupby

In [1]:
# libraries needed
import numpy as np
import pandas as pd

In [2]:
# load data
fortune_1k = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/fortune1000.csv'
)

fortune_1k.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [3]:
# meta data
fortune_1k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       1000 non-null   int64
 1   Company    1000 non-null   object
 2   Sector     1000 non-null   object
 3   Industry   1000 non-null   object
 4   Location   1000 non-null   object
 5   Revenue    1000 non-null   int64
 6   Profits    1000 non-null   int64
 7   Employees  1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [5]:
# make 'Rank' the index
fortune_1k = fortune_1k.set_index('Rank')

In [6]:
fortune_1k.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [14]:
# total profit by sector
(
    fortune_1k
      .groupby('Sector')
      ['Profits']
      .sum()
      .to_frame()
      .reset_index()
      .sort_values(by = 'Profits', ascending = False)
)

                          Sector  Profits
6                     Financials   260209
17                    Technology   180473
9                    Health Care   106114
8      Food, Beverages & Tobacco    51417
18            Telecommunications    48637
16                     Retailing    47830
19                Transportation    44169
0            Aerospace & Defense    28742
2              Business Services    28227
15        Motor Vehicles & Parts    25898
14                         Media    24347
3                      Chemicals    22628
12                   Industrials    20764
10  Hotels, Resturants & Leisure    20697
7           Food and Drug Stores    16759
11            Household Products    14428
1                        Apparel     8236
20                   Wholesalers     8233
5     Engineering & Construction     5304
13                     Materials     4428
4                         Energy   -73447